{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('appRandoArticle') }}
{% endblock %}

{% block body %}
    {% include 'blog/rando/nav.html.twig' %}
    <div class="pb-5">
        <div class="imgtop" style="background-image: url(&quot;../../img/fond/drone2.jpg&quot;);">
            <div class="imgtoptxt"><h1>{{ article.name }}</h1></div>
        </div>
        <div class="container pt-5">
            <p> Publié dans  {{ article.catégorie.name }} le {{ article.PublicationDate|format_datetime(locale='en') }}</p>
            <p>{{ article.content }}</p>

        </div>
    </div>
    {% include 'blog/rando/footer.html.twig' %}
{% endblock %}
